<!-- <table class="pip-table pip-dossier-titel">
    <tbody>
        <tr valign="top">
            <td class="pip-zaaknummer"><h2><span class="hide">Zaak</span> [% zaak.id %]<span class="hide">:</span></h2></td>
            <td class="pip-zaaktitel">
                <h2>[% zaak.zaaktype_node_id.titel %]</h2>
                <span>
                [% IF zaak.status == 'stalled' %]
                    Deze zaak is opgeschort. Er is nog geen streefafhandeldatum bekend.
                [% ELSIF zaak.days_left < 0 %]
                    De zaak is [% zaak.days_left.replace('-','') %] dagen over de
                    streefafhandeldatum ([%
                    zaak.streefafhandeldatum.dmy %]). Onze excuses voor het ongemak.
                [% ELSIF zaak.is_afgehandeld %]
                    Uw zaak is [% (zaak.days_left > 0 ? 'binnen de
                    streefafhandeltijd' : '') %] afgehandeld op [%
                    zaak.afhandeldatum.dmy %]
                [% ELSE %]
                    Uw zaak dient binnen [% zaak.days_left %] dagen
                    afgehandeld te zijn, uiterlijk op [%
                    zaak.streefafhandeldatum.dmy %]
                [% END %]
                </span>
            </td>
        </tr>
    </tbody>
</table> -->
<div class="pip-case-title">
    <h2>[% zaak.id %]: [% zaak.zaaktype_node_id.titel %]</h2>
</div>
