<div class="spot-enlighter-highlight">

	<button
		class="spot-enlighter-back-button spot-enlighter-back" 
		ng-click="vm.handleBackClick()"
		zs-tooltip="Terug"
		zs-tooltip-options="{ attachment: 'right top', target: 'right top', offset: { x: -8, y: 7 } }"
	>
		<zs-icon icon-type="arrow-left"></zs-icon>
		<span class="button-text">Terug</span>
	</button>
		
	<div class="spot-enlighter-container">

		<div class="spot-enlighter-input-container">

			<zs-dropdown-menu
				data-name="object-type-select"
				data-options="vm.getObjectTypeOptions()"
				button-label="{{vm.getObjectTypeLabel()}}"
				class="spot-enlighter-object-dropdown"
				button-icon="menu-down"
			>
			</zs-dropdown-menu>

			<button
				data-name="open-button"
				class="button-reset top-bar-button spot-enlighter-icon"
				ng-click="vm.handleMagnifyClick()"
				ng-disabled="vm.isOpen()"
			>
				<zs-icon icon-type="magnify"></zs-icon>
				<zs-spinner class="spinner-small" is-loading="vm.isLoading()"></zs-spinner>
			</button>

			<input 
				type="text"
				data-name="query-input"
				class="spot-enlighter-input" 
				ng-model="vm.query"
				ng-change="vm.handleQueryChange()"
				placeholder="Zoeken in Zaaksysteem.nl"
			/>
		</div>

		<zs-spot-enlighter-suggestion-list
			data-suggestions="vm.getSuggestions()"
			on-select="vm.handleSuggestionSelect($suggestion, $event)"
			key-input-delegate="vm.getKeyInputDelegate()"
			data-label="{{vm.getSuggestionListLabel()}}"
			object-type="vm.getSelectedObjectType()"
			on-object-type-change="vm.handleObjectTypeChange($type)"
			external-search-settings="vm.getExternalSearchSettings()"
			external-search-results-count="vm.getExternalSearchResultsCount()"
		>
		</zs-spot-enlighter-suggestion-list>

	</div>

</div>
