@import "../../../styles/variables";

.vorm-field-item{
	padding:.8rem 0;
}

vorm-field {
	display: block;
	vorm-field{
		padding:0;
		border:none;
		.form-field-value-list{
			padding:0;
		}
		.value-item{
			padding:0 0 1em;
		}
	}
	.form-field-required {
		font-size:1.3rem;
		line-height: 0;
		margin-left: 5px;
	}
	&.required {
		.form-field-required {
			color:$red;
		}
	}
	.vorm-control,
	.vorm-display {
		&.ng-enter-prepare {
			display: none;
		}
	}

	.vorm-control.ng-animate,
	.vorm-display.ng-animate, {
		&.ng-enter {
			opacity: 0;
			transition: 0.25s opacity ease-out;
		}
		&.ng-enter-active {
			opacity: 1;
		}
	}
	
}

vorm-fieldset{
	display: block;
}

.vorm-field-list{
	margin:0;
}

.form-field-meta{
	display: flex;
} 

.form-field-control-wrapper {
	position: relative;
}

vorm-field:hover {
	> .form-field-control-wrapper[data-inherits="radio"],
	> .form-field-control-wrapper[data-inherits="allocation"] {
		> .value-list {
			> .value-item {
				> .vorm-clear {
					display: block;
				}
			}
		}
	}
}

.vorm-fieldset-label,
.result-title{
	font-size:1.25rem;
	font-weight: 500;
	margin-bottom:.3rem;
}

.vorm-fieldset-description{
	font-size:0.933rem;
	color:#555;
	margin-bottom:.3rem;
	ul li,ol li{
		margin-left:20px;
	}
	ul li{
		list-style-type: disc;
	}
	ol li{
		list-style-type: decimal;
	}
}

.vorm-fieldset-description-show-more{
	width:100%;
	text-align: center;
	height:1.8rem;
	line-height: 1.8rem;
	margin-top:5px;
	background: #f9f9f9;
	border-radius: 15px;
	color:#999;
}

.form-field-description{
	height:20px;
	margin-right:7px;
	zs-icon{
		display: flex;
		font-size:.8rem;
		width:18px;
		height:18px;
		border-radius:100%;
		background: white;
		align-items: center;
		justify-content: center;
		border:1px solid #999;
		.mdi{
			color:#888;
		}
	}
	&:hover{
		zs-icon{
			border-color:$primary-color;
			background: $primary-color;
			.mdi{color:white;}
		}
	}
}

.form-field-meta,
.form-field-control-wrapper{
	width:auto;
	padding:0 1.5rem;
}

.form-field-label{
	display: inline-block;
	font-weight: 400;
	padding-bottom:.3rem;
	font-size:1.067rem;
}

.form-field-value-list{
	margin: 0;
	display: block;
	&.empty.disabled::before {
		display: flex;
		content: '-';
		line-height: 1.5;
	}
}

.vorm-fieldset-label:empty,
.form-field-label:empty,
.vorm-fieldset-description:empty,
.form-field-label:empty {
	display: none;
	+.form-field-value-list {
		width: 100%;
	}
}

vorm-form-field {
	.vorm-control {
		.form-field {
			border: 0;
			padding: 0 0 1em 0;
		}
		.form-field:last-child {
			padding: 0;
		}
		.form-field-value-list {
			padding: 0;
		}
	}
	vorm-fieldset,
	.form-field-control-wrapper,
	.vorm-field-item {
		padding: 0;
	}
}

.vorm-input-wrapper{
	display: flex;
	align-items: center;
	input{
		margin-right:5px;
	}
}

.form-field-value-list{
	.value-item{
		position: relative;
	}
	&.multiple{
		.value-item{
			margin-bottom:.533rem;
		}
	}
}

.form-message{
	padding: 1em;
	background: $light-yellow;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.form-actions{
	padding:1em;
	display: flex;
	justify-content: flex-end;
}

.vorm-clear{
	display: none;
	position: absolute;
	right: -1.5rem;
	top: 50%;
	margin-top:-10px;
	z-index:4;
	border: none;
	padding: 0;
	line-height: 16px;
	background:none;
	color: #ccc;
	transition: background 0.05 ease-in-out;
	&:hover{
		color: #000;
		background: transparent;
	}
	zs-icon{
		font-size:1.2rem;
	}
}

[class*="valuta"],
.attribute-type-url{
	.vorm-control{
		display: flex;
		align-items: center;
		
	}
}

[class*="valuta"]{
	input[type=number]{
		margin-right:5px;
	}
	zs-btw-display{
		width:100px;
	}
}

.attribute-type-url{
	input[type=url]{
		margin-right:8px;
	}
	.mdi-open-in-new{
		font-size:1.4rem;
		color:#bbb;
		&:hover{
			color:#333;
		}
	}
}

.attribute-type-text_block .vorm-display{
	ul,ol{
		padding-left:20px;
		margin:1em 0;
	}
	ul li{
		list-style: disc;
	}
	ol li{
		list-style: decimal;
	}
}

.value-validity {
	background:$red;
	color:#fff;
	padding:.35rem 1rem;
	margin-top:.5rem;
	position: relative;
	border-radius:$border-radius;
	&:after{
		content:'';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 4px 5px 4px;
		border-color: transparent transparent $red transparent;
		position: absolute;
		top:-5px;
		left:25px;
	}
}

// temp style

.value-validity-required{
	display: none;
}

// ZS-TOGGLE
/* For an example of this, see the create-case sidemenu. Its the remember case-type switch
	This should probably become its own directive, but for now this is the most logical place to store this css. */

// set dummy animation to make angular aware of animation
.zs-switch {
	transition: background $bezier-animation;
}

.zs-switch-label {
	display: inline-block;
	position: relative;
	width:32px;
	height: 13px;
	border-radius: 8px;
	background: #bbb;
	transition: background $bezier-animation;
	vertical-align: middle;
	cursor: pointer;
	margin-left: 10px;

	&::before{
		content: '';
		position: absolute;
		top: -4px;
		left: -4px;
		width: 20px;
		height: 20px;
		background: lighten($light-grey, 20%);
		box-shadow: 0 2px 8px rgba(0,0,0,.28);
		border-radius: 50%;
		transition: left $bezier-animation, background $bezier-animation, box-shadow $bezier-animation;
	}

	&:active::before{
		box-shadow: 0 2px 8px rgba(black, .28), 0 0 0 20px rgba(#808080, .1);
	}
}

.zs-switch-input {

	display: none;
	transition: background $bezier-animation;
}

.zs-switch.zs-switch-active > .zs-switch-label{
	background: desaturate(lighten($primary-color,35%),10%);

	&::before{
		left: 16px;
		background: $primary-color;
	}

	&:active::before{
		box-shadow: 0 2px 8px rgba(black, .28), 0 0 0 20px rgba($primary-color, 0.2);
	}
}

.form-horizontal {

	margin: 0 auto;
	padding: 1em 0;
	
	vorm-field {
		display: flex;
		flex-flow: row nowrap;
		> .form-field-meta {
			flex: 1 0 auto;
		}
		> .form-field-control-wrapper {
			flex: 0 1 auto;
			min-width: 70%;
		}
	}
}

.vorm-radio-option,
.vorm-checkbox-list-option {
	&.inactive > span {
		opacity: 0.5;
	}
}
