[% RETURN IF c.user_exists -%]
        </div>
    </div>
    
    <!-- extra html voor footer ede -->
    <div class="footer wrap">
    	<div id="footer">
    		<div id="logo-footer">
    			<div class="csc-default" id="c329">
    				<div class="csc-textpic csc-textpic-center csc-textpic-above">
    					<div class="csc-textpic-imagewrap csc-textpic-single-image csc-textpic-image-width-91"><img width="91" height="64" title="logo" alt="logo" src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/ede/img/logo-footer.png"></div>
    				</div>
    				<div class="csc-textpic-clear"></div>
    			</div>
    		</div>
    	</div>
    </div>

[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]

<div class="drempelvrij" title="Deze pagina is drempelvrij prioriteit 1"></div>

</body>
</html>