<form ng-submit="vm.handleSubmit()" novalidate>
	<vorm-fieldset
		data-fields="vm.getFields()"
		data-values="vm.getValues()"
		on-change="vm.handleChange($name, $value)"
	>
	</vorm-fieldset>

	<div class="form-actions">

		<button
			type="submit"
			ng-disabled="vm.isSubmitDisabled()"
			class="btn btn-primary"
		>
			Voeg toe
		</button>

	</div>
</form>
