[% IF current_phase.status>1 %]
<h3 class="ui-accordion-header">Checklist</h3>
<div class="checklist" data-ng-class="{'checklist-closed': closed }" data-ng-include="'/partials/case/checklist.html'" data-ng-controller="nl.mintlab.case.ChecklistController" data-ng-init="init([% zaak.id %], [% current_phase.status %], [% IF zaak.is_afgehandeld %] true [% ELSE %] false [% END %]);">
</div>
[% END %]
