@import '../../../../shared/styles/_breakpoints.scss';

external-document-view{
	display: block;
	width: 100%;
	padding: 50px 25px;
}

.external-document__container{
	padding-bottom: 50px;
	display: flex;
}

.external-document__column{
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
	background: #fff;
	overflow: hidden;
	margin-left: 25px;
	margin-right: 25px;

	&.external-document__column--text{
		padding: 30px;
		width: 65%;
	}

	&.external-document__column--thumbnail{
		width: 35%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			display: block;
			width: 100%;
			height: auto;

			&:hover{
				cursor: pointer;
			}
		}
	}
}

.external-document__fields{
	li{
		padding: 20px 0;
		border-bottom: solid 1px #EDEDED;
	}

	.external-document__label{
		display: block;
	}

	.external-document__value{
		display: block;
		white-space: pre-line;
	}
}

.external-document__nothumb{
	flex: 1;
	text-align: center;
	color: #ccc;
	padding: 100px 30px;
	min-height: 350px;

	zs-icon{
		display: block;
		font-size: 4em;
	}
}

.external-document__header{
	display: flex;

	h1{
		margin: 0;
		padding: 0;
		line-height: 1.3em;
	}

	button{
		margin-left: auto;
	}
}


@media #{$small-and-down}{
	
	.external-document__header{
		flex-direction: column;
	    justify-content: flex-start;

	    h1{
	    	margin-bottom: 20px;
	    }

		button{
			margin-left: 0;
		}
	}

	.external-document__container{
		display: block;
	}

	.external-document__column{
		display: block;

		&.external-document__column--text{
			margin-bottom: 25px;
		}

		&.external-document__column--text, &.external-document__column--thumbnail{
			width: 100%;
			margin-left: 0;
			margin-right: 0;

		}	
	}

}
