<div class="external-document__container">
	
	<div class="external-document__column external-document__column--text">
		<div class="external-document__header">
			<h1 class="big-title-blue">Document</h1>
			<button 
				ng-if="externalDocumentView.isDownloadable()"
				ng-click="externalDocumentView.downloadDocument()"
				class="btn btn-secondary"
			>
				Download
			</button>
		</div>
		<ul class="external-document__fields">
			<li ng-repeat="field in externalDocumentView.getFields() track by field.name">
				<span class="external-document__label"><strong>{{::field.label}}</strong></span>
				<span class="external-document__value">{{::field.value}}</span>
			</li>
		</ul>
	</div>
	<div 
		class="external-document__column external-document__column--thumbnail"
	>

		<img 
			ng-src="{{externalDocumentView.getImage()}}"
			ng-if="externalDocumentView.getImage()"
		/>

		<div 
			class="external-document__nothumb"
			ng-if="!externalDocumentView.getImage()"
		>
			<zs-icon icon-type="file"></zs-icon>
			<span>Geen voorvertoning beschikbaar</span>
		</div>

	</div>

</div>
