<div id="kennisbank_search">
    <div id="accordion">
        <h3><a href="#">Zoekcriteria</a></h3>
        <div>
           <div id="search_zaaktype_popup" class="ui-accordion-inner clearfix">
                <form method="POST">
                    <input type="hidden" name="search" value="1" />

                    <div class="kennisbank_search_table">
                        <table class="marginbottom">
                            <tr>
                                <td>Trefwoorden:</td>
                                <td><input type="text" name="term" class="input_large" value=""></td>
                            </tr>
                        </table>
                    </div>

                    <input type="submit" class="button button-primary right last" name="submit" value="Zoeken" />
                </form>
                <i id="betrokkene_loader" class="disabled spinner-small spinner-dialog"></i>
            </div>
        </div>

        <h3><a href="#">
            Resultaten
            </a>
        </h3>

        <div>
            <div class="ui-accordion-inner ezra_search_box-results">
                <table class="table_zaaktypen">
                </table>
            </div>
        </div>
    </div>
</div>

