@import "../partials/dependencies";

$template-type:open;

$logo-url: "../../form/noordenveld/img/logo-noordenveld.jpg";
$logo-width:679px;
$logo-height:112px;
$logo-margin:0 0 0 20px;
$header-height:142px;
$header-padding:15px 0;

$primary-color:#B8E300;
$secondary-color:#0E8A0E;
$tertiary-color:#5c5b5b;
$button-id-bg-color: #333;

$button-primary-bg:$primary-color;
$button-primary-color:$tertiary-color;
$button-primary-bg-hover:lighten($primary-color,3%);
$button-in-title-color:$tertiary-color;
$border-radius:0;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:none;
$font-family:Arial, Tahoma, Helvetica, sans-serif;
$font-size:76%;
$template-width:100%;

$container-border:none;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$secondary-color;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:$tertiary-color;
$pip-nav-bg-active:white;
$pip-nav-font-size:1.2em;
$pip-nav-bg-hover:rgba(255,255,255,.5);
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:$tertiary-color;
$title-bg-color:$primary-color;

$heading1-color:#4f4f4f;

$heading2-color:#4f4f4f;
$heading2-fontsize:1.6em;

$stap-active-anchor-font-weight:bold;
$stap-active-bg-color:$secondary-color;

$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

.pip-nav ul li.current a {
    border: 4px solid $secondary-color;
    border-bottom:none;
    margin-bottom:-4px;
}

@media only screen and (max-width: $breakpoint-mobile) {

	.pip-nav ul li.current a {
		border-bottom: 4px solid $secondary-color;
	}

	#logo, #logo a{
		width:400px;
	}

}

@media only screen and (max-width: 440px) {

	#logo, #logo a{
		width:250px;
	}

	#logo a{
		background-position: -145px 0;
	}

}
