.interface-test-options{
	border-bottom:1px solid #ddd;
	padding-top:0;
	padding-bottom:1rem;
	display: flex;
	min-height:45px;
	align-items: center;
	button{
		margin-left:auto;
		flex-shrink: 0;
		white-space: nowrap;
	}
}

.interface-test-description{
	max-width:600px;
	margin-right:2rem;
}

.interface-test-list-item{
	position:relative;
	border-bottom:1px solid #ddd;
	padding:1rem 0;
	list-style:none;
	display: flex;
}

.interface-test-list-item-meta{
	flex-grow:1;
	margin-right:1rem;
	min-width: 0px;
}

.interface-test-list-item-status{
	margin-right:8px;
	margin-top:5px;
}

.interface-test-list-item-start{
	flex-shrink: 0;
}

.interface-test-list-item-status{
	.icon-warning-sign{
		color:darken(red,5%);
	}
	.interface-test-list-item-result-running{
		background: url(/images/loader.gif) no-repeat center center;
		width: 16px;
    	height: 11px;
	}
}

.interface-test-list-item-error{
	background-color:lighten(red,41%);
	padding: .6rem 1rem;
    margin-top: 8px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
}

.interface-test-runner{
	max-width:600px;
}
