@import "./../../../styles/_variables.scss";

zs-object-suggest-advanced-search {
	
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 15;
	display: flex;
	transition: transform 0.25s ease-out;
	background: white;
	
	&.ng-enter-active,
	&.ng-leave {
		transform: translateX(0);
	}

	&.ng-enter,
	&.ng-leave-active {
		transform: translateX(100%);
	}
}

.suggest-advanced-search {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	background: white;
	box-shadow: #{$shadow};
	overflow-y: auto;
	overflow-x: hidden;
	align-items: center;
}

.suggest-advanced-search-body,
.suggest-advanced-search-results-inner{
	display: block;
}

.suggest-advanced-search-body{

	vorm-field .value-item{
		padding:0;
	}
	.form-field-meta,
	.form-field-control-wrapper{
		padding:0 1rem;
	}
}

.suggest-advanced-search-header {
	font-size: 1.5rem;
	line-height: 4rem;
	> span {
		padding: 0.5rem 1rem;
	}
	> zs-spinner {
		display: inline-block;
	}
}

.suggest-advanced-search-header-back-button {
	padding: 0 0 0 0.5em;
}

.suggest-advanced-search-results {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	background: white;

	transition: transform 0.15s ease-out;

	&.ng-enter-active,
	&.ng-leave {
		transform: translateX(0);
	}

	&.ng-enter,
	&.ng-leave-active {
		transform: translateX(100%);
	}

	.mdi{
		font-size:1.4rem;
		&.mdi-alert-circle{
			color:$red;
		}
	}

	.mdi-account{
		color:$pink;
	}

	.male .mdi-account{
		color:$blue;
	}

}

.widget .suggest-advanced-search-results .pagination{
	position:static;
		width:auto;
}

.suggest-advanced-search-body,
.suggest-advanced-search-result-body {
	width: 100%;
	overflow-x:auto;
}


@media #{$medium-and-up} {
	.suggest-advanced-search-form,
	.suggest-advanced-search-result-body {
		min-width: 500px;
	}
	.suggest-advanced-search-body,
	.suggest-advanced-search-results-inner{
		max-width:800px;
		padding:0 30px;
		margin:0 auto;
		width:auto;
	}
}
