.flexpaper_toolbarstd{
	background-image:none;
	background:#e0e0e0;
	border-right:none;
	border-left:none;
	border-color:#999;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	position: relative;
	z-index: 1;
}

.flexpaper_searchabstract_result{
	color:#fff !important;
	font-size:11px !important;
	font{
		font-weight: bold !important;
		color:black !important;
		background:yellow !important;
	}
}

.flexpaper_searchabstract_result_separator{
	border-color:#666;
}

.flexpaper_tblabel{
	font-size:11px !important;
	span{
		color:#fff !important;
	}
}

.flexpaper_searchabstracts{
	top:4% !important;
	bottom:0;
	position:absolute;
	height:96% !important;
	> div{
		background:#333 !important;
		height:100% !important;
		box-sizing:border-box;
	}
}

.flexpaper_searchabstracts_content{
	margin-bottom:0 !important;
}