[data-zs-pagination] {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.pagination ul.pagination-list {
  list-style-type: none;
	display: flex;
  align-items: center;
  font-size:.933rem;
}

.pagination-options{
  padding:5px 0;
  font-size:.85rem;
}

.pagination-options-label,
.pagination-options-select-wrapper{
  display: inline-block;
}

.pagination-list-item {
    &:first-child button{
      border-radius:6px 0 0 6px;
    }
    &:last-child button{
      border-radius:0 6px 6px 0;
    }
}

.pagination-button {
	display: inline-block;
    height: 100%;
    padding: 4px 12px;
  	line-height: 20px;
    border: 1px solid #bbb;
    border-left-width: 0;
  	font-size:1em;
  	&:focus{
  		outline:none;
  	}
  	&:hover {
  		background: #ddd;
  	}
  	&:active{
  		background:#bbb;
  	}
}


.pagination-button-active {
	background: #ccc;
}

.pagination-button:disabled {
	color: #999999;
    cursor: default;
	background: transparent;
	opacity: 0.5;
}

.pagination-list-item:first-child > .pagination-button {
	border-left-width: 1px;
}


.pagination-icon-prev,
.pagination-icon-next {
	padding: 4px;
}

.pagination-icon-prev {
	background: url(/images/pager-prev.gif) no-repeat center center;
}

.pagination-icon-next {
	background: url(/images/pager-next.gif) no-repeat center center;
}

.pagination-gap {
	display: none;
	padding-left: 4px;
	padding-right: 4px;
}

.pagination-gap-visible > .pagination-gap {
	display: inline-block;
  float:none;
  margin-left:-4px;
  background:none;
  color:rgba(0,0,0,.5);
}

.pagination-gap-visible + .pagination-list-item-page > .pagination-button  {
	border-left-width: 1px;
	margin-left: -1px;
}